<p>
    missing-unapproved-items works!
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            https://stackoverflow.com/questions/48519808/async-await-foreach-angular-5-httpclient
        </div>
        <div class="col-md-6">
            https://blog.cloudboost.io/ngx-reduxor-generate-a-complete-ngrx-architecture-in-one-command-574e3ea76f2d
            <br> https://blog.cloudboost.io/ngx-reduxor-do-you-use-ngrx-in-your-angular-app-check-this-generator-b3386e7bf8bf
            <br> https://medium.com/stratajet-tech/a-beginners-guide-to-ngrx-store-bc2184d6d7f0
            <br> http://blog.ng-book.com/introduction-to-redux-with-typescript-and-angular-2/
            <br> https://www.academind.com/learn/javascript/callbacks-vs-promises-vs-rxjs-vs-async-awaits


        </div>
    </div>
</div>