.tag-pill[_ngcontent-c0] {
  cursor: pointer;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.tag-default {
  color: #fff!important;
  font-size: .8rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: .2rem;
  display: inline-block;
}
.tag-default {
  background-color: #5cb85c // #818a91;
}
.tag-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
a, area, button, [role=button], input, label, select, summary, textarea {
  touch-action: manipulation;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
