$primary-color: #4caf50;
.primary-color {
    background-color: #4caf50!important;
}

$primary-color-dark: #2e7d32;
.primary-color-dark {
    background-color: #2e7d32!important;
}

$bg-primary-color: #4caf50;
.bg-primary-color {
    background-color: #4caf50!important;
}

$bg-primary-color-dark: #2e7d32;
.bg-primary-color-dark {
    background-color: #2e7d32!important;
}