<h1 class="h1-responsive animated bounce infinite">Mdb Helper</h1>
<p class="h6">h6. Bootstrap heading</p>
<!-- <h1 class="display-4">Display 4</h1> -->

<a href="https://mdbootstrap.com/angular/css/colors/">
    <h1 class="display-4">Mdb css/colors/</h1>
</a>
<br>

<div class="d-inline bg-success">Inline</div>
<br>
<span class="d-block bg-primary">Block</span>
<br>

<div class="d-inline-block bg-warning">
    <h3>inline-block</h3>
    Boot that strap!
</div>
<div class="d-inline-block bg-warning">
    <h3>inline-block</h3>
    Strap that boot!
</div>
<br>

<div class="d-flex p-2">I'm a flexbox container!</div>
<div class="d-inline-flex p-2">I'm an inline flexbox container!</div>
<br>

<div class="d-flex flex-row">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
</div>
<div class="d-flex flex-row-reverse">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
</div>
<br>

<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">CapiTaliZed text.</p>
<br>

<p class="font-weight-bold">Bold text.</p>
<p class="font-weight-normal">Normal weight text.</p>
<p class="font-italic">Italic text.</p>
<br>

<span class="align-baseline">baseline</span>
<span class="align-top">top</span>
<span class="align-middle">middle</span>
<span class="align-bottom">bottom</span>
<span class="align-text-top">text-top</span>
<span class="align-text-bottom">text-bottom</span>
<br>

<div class="visible">...visible</div>
<div class="invisible"> invisible!...</div>
<br>

<var>var is what</var>
<kbd>ctrl</kbd>
<samp>This text </samp>
<br>
<br>

<figure class="figure">
    <img class="figure-img img-fluid logo-medium">
    <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
</figure>
<br>

<i class="fa fa-camera-retro fa-2x"></i> fa-camera-retro
<br><a href='https://mdbootstrap.com/angular/content/icons-list/' target="new">Mdb icon list</a>
<br>

<img class="float-left logo-min" alt="logo-min">
<img class="float-right logo-reverse-min" alt="logo-reverse-min">
<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="text-center" alt="gp center">
<br>
<br>


<!--Table-->
<!--table-responsive-->
<table class="table table-sm table-striped table-bordered table-hover">
    <!-- table-bordered -->
    <!--Table head-->
    <thead class="mdb-color darken-3">
        <!-- blue-grey lighten-4 -->
        <tr class="text-white">
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->
<br> COLORS
<p class="red-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p class="pink-text">Impedit architecto, totam hic sunt eum odio, deleniti.</p>
<p class="purple-text">Similique ex, expedita minus assumenda a magni beatae dolorum itaque.</p>
<p class="deep-purple-text">Veritatis eum libero nam, adipisci, necessitatibus eos.</p>
<p class="indigo-text">Sapiente, ea. Molestias sunt nihil saepe numquam quas perferendis.</p>
<p class="blue-text">Sapiente sit, possimus maiores, quo alias corporis cum eum nesciunt.</p>
<p class="light-blue-text">Corrupti adipisci, praesentium iusto eos, iure debitis modi.</p>
<p class="cyan-text">Odio autem veritatis aliquam consequuntur ea voluptatibus.</p>
<p class="teal-text">Similique, adipisci ea, sequi magnam sit inventore.</p>
<p class="green-text">Eos et vitae, odit deserunt dignissimos voluptas.</p>
<p class="light-green-text">Fugit nihil numquam inventore accusantium tenetur ex est.</p>
<p class="lime-text">Sed odit inventore illum excepturi officia, reiciendis numquam modi.</p>
<p class="yellow-text">At odio animi distinctio, aut enim tempora nobis error odit mollitia.</p>
<p class="amber-text">Quo at accusamus vel earum hic, inventore non, minima sint.</p>
<p class="orange-text">Iusto odit eos distinctio temporibus voluptates ad, illo repellat.</p>
<p class="deep-orange-text">Quas fugit fuga assumenda nihil esse et culpa reiciendis voluptatum.</p>
<p class="brown-text">Excepturi iusto amet sunt illo ad debitis quibusdam eius, consequatur.</p>
<p class="grey-text">Non sint nulla incidunt, odit repellat tempore, veniam ratione fugit.</p>
<p class="blue-grey-text">Eius, provident. Quo similique, repellat atque voluptas explicabo odio.</p>
<p class="white-text">In consequuntur error, non consequatur expedita maxime dolorum.</p>
<br> --blue: #007bff; --indigo: #6610f2; --purple: #6f42c1; --pink: #e83e8c; --red: #dc3545; --orange: #fd7e14; --yellow: #ffc107; --green: #28a745; --teal: #20c997; --cyan: #17a2b8; --white: #fff; --gray: #6c757d; --gray-dark: #343a40; --primary: #007bff;
--secondary: #6c757d; --success: #28a745; --info: #17a2b8; --warning: #ffc107; --danger: #dc3545; --light: #f8f9fa; --dark: #343a40;
<br>



<!-- On rows -->
<!-- On cells (`td` or `th`) -->
<tr>
    <td class="table-active">...</td>
    <td class="table-success">...</td>
    <td class="table-warning">...</td>
    <td class="table-danger">...</td>
    <td class="table-info">...</td>
</tr>
<br>

<p class="lead"> est non commodo luctus.</p>back to normal
<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>
<br>

<blockquote class="blockquote bq-success">
    <!-- success, warning, danger, primary-->
    <p class="bq-title">Info notification</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo! Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque! Sit, rem, in?</p>
</blockquote>
<br>

<ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet</li>
    <ul>
        <li>Phasellus iaculis neque</li>
    </ul>
</ul>
<br> List-inline
<ul class="list-inline">
    <li class="list-inline-item">Item 1</li>
    <li class="list-inline-item">Item 2</li>
    <li class="list-inline-item">Item 3</li>
</ul>
<br>

<dl class="row">
    <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
    <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
</dl>
<br>

<a href="https://mdbootstrap.com/angular/css/animations/">WOW settings</a>
<img class="img-fluid wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="View on mountains from mountain top.">
<br>

<div class="example z-depth-5">.z-depth</div>
<div class="example hoverable">Hover me</div>
<div class="shadow-box-example hoverable flex-center">
    <p class="white-text">hover me!</p>
</div>