<div class="container">
    <div class="row">

        <h1>Ventia Styles</h1>

        <!-- Logo examples -->
        <div class="logo-banner"></div><br /> &nbsp;
        <div class="logo-large"></div><br /> &nbsp;
        <div class="logo-medium"></div><br /> &nbsp;
        <div class="logo-min"></div><br /> &nbsp;
        <div class="logo-reverse-banner"></div> <br /> &nbsp;
        <div class="logo-reverse-large"></div><br /> &nbsp;
        <div class="logo-reverse-medium"></div><br /> &nbsp;
        <div class="logo-reverse-min"></div><br /> &nbsp;

        <!-- Coloured container examples -->
        <div class="sample-block deep-blue-bg">Sample deep blue block #00334D or rgba(0, 51, 77, 1)</div>
        <div class="sample-block sky-blue-bg">Sample sky blue block #13B5EA or rgba(19, 181, 234, 1) </div>
        <div class="sample-block purple-bg">Sample purple block #821482 or rgba(130, 20, 130, 1)</div>
        <div class="sample-block light-green-bg">Sample light green block #7BC143 or rgba(123, 193, 67, 1)</div>
        <div class="sample-block mid-green-bg">Sample mid green block #009946 or rgba(0, 153, 70, 1)</div>
        <div class="sample-block dark-green-bg">Sample dark green block #124734 or rgba(18, 71, 52, 1)</div>
        <div class="sample-block dark-grey-bg">Sample dark grey block #29353A or rgba(41, 53, 58, 1)</div>

        <!-- spinners -->
        <div>
            <h2>Sample Spinners</h2>
        </div>
        <div class="deep-blue-loader-4"></div>
        <div class="mid-green-loader-4"></div>
        <div class="deep-blue-loader-1"></div>
        <div class="mid-green-loader-1"></div>
        <div class="deep-blue-loader-2"></div>
        <div class="sky-blue-loader-2"></div>
        <div class="sky-blue-loader-3"></div>
        <div class="mid-green-loader-3"></div>

        <!-- Heading examples -->
        <div>
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>
        <div class="deep-blue">
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>
        <div class="sky-blue">
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>
        <div class="purple">
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>
        <div class="light-green">
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>
        <div class="mid-green">
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>
        <div class="dark-green">
            <h1>visionstream H1</h1>
            <p>Some content under a H1</p>
            <h2>visionstream H2</h2>
            <p>Some content under a H2</p>
            <h3>visionstream H3</h3>
            <p>Some content under a H3</p>
        </div>

    </div>
</div>