
<h4>Mandatory Fields Missing/Unapproved Items - JDE</h4>

<!-- <div class="container"> -->
    
    <div class="row">

        <div class="col">
            <!-- 1 of 4 columns -->
            <div class="card mt-6">
                <div class="card-header teal lighten-2 lighten-1 white-text gradient-card-header blue-gradient">
                    Expired Insurance
                </div>
                <div class="card-body">
                    <!-- <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-teal lighten-2 waves-light" mdbRippleRadius>Go somewhere</a> -->
                    <ul class="list-group" *ngFor="let item of MandatoryFieldsProject">
                        <li class="list-group-item d-flex justify-content-between align-items-center text-nowrap">
                            {{ item.insuranceType }}
                            <span class="badge badge-primary badge-pill">{{ item.numberExpired }}</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col">
            <!-- 2 of 4 columns -->
            <div class="card mt-4">
                <div class="card-header teal lighten-2 lighten-1 white-text">
                    Insurance due within 30 Days
                </div>
                <div class="card-body">

                    <ul class="list-group" *ngFor="let item of MandatoryFieldsCompany">
                        <li class="list-group-item d-flex justify-content-between align-items-center text-nowrap">
                            {{ item.insuranceType }}
                            <span class="badge badge-primary badge-pill">{{ item.numberExpired }}</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col">
            <!-- 3 of 4 columns -->
            <div class="card mt-4">
                <div class="card-header teal lighten-2 lighten-1 white-text">
                    Individual Records
                </div>
                <div class="card-body">

                    <ul class="list-group" *ngFor="let item of MandatoryFieldIndividual">
                        <li class="list-group-item d-flex justify-content-between align-items-center text-nowrap">
                            {{ item.insuranceType }}
                            <span class="badge badge-primary badge-pill">{{ item.numberExpired }}</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

<!-- </div> -->