<div class="container">
    <div class="row">

        <div class="col">
            <!-- 1 of 4 columns -->
            <div class="card mt-4">
                <div class="card-header teal lighten-2 lighten-1 white-text gradient-card-header blue-gradient">
                    Expired Insurance
                </div>
                <div class="card-body">
                    <!-- <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-teal lighten-2 waves-light" mdbRippleRadius>Go somewhere</a> -->
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            All Insurance:
                            <span class="badge badge-primary badge-pill">2975</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Workcover (or equivalent):
                            <span class="badge badge-primary badge-pill">356</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Public Liability
                            <span class="badge badge-primary badge-pill">1124</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- 2 of 4 columns -->
            <div class="card mt-4">
                <div class="card-header teal lighten-2 lighten-1 white-text">
                    Insurance due within 30 Days
                </div>
                <div class="card-body">
                    <!-- <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-teal lighten-2 waves-light" mdbRippleRadius>Go somewhere</a> -->
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            All Insurance:
                            <span class="badge badge-primary badge-pill">2975</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Workcover (or equivalent):
                            <span class="badge badge-primary badge-pill">356</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Public Liability
                            <span class="badge badge-primary badge-pill">1124</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- 3 of 4 columns -->
            <div class="card mt-4">
                <div class="card-header teal lighten-2 lighten-1 white-text">
                    Individual Records
                </div>
                <div class="card-body">
                    <!-- <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-teal lighten-2 waves-light" mdbRippleRadius>Go somewhere</a> -->
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            No. of Licences and Certification:
                            <span class="badge badge-primary badge-pill">7245</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            No. of Course Details:
                            <span class="badge badge-primary badge-pill">3975</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            No. of Individual ID Card:
                            <span class="badge badge-primary badge-pill">116</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Individuals Without Roles:
                            <span class="badge badge-primary badge-pill">6258</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- 4 of 4 columns -->
            <div class="card mt-4">
                <div class="card-header teal lighten-2 lighten-1 white-text">
                    Contract Records
                </div>
                <div class="card-body">
                    <!-- <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-teal lighten-2 waves-light" mdbRippleRadius>Go somewhere</a> -->
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Expired Contracts:
                            <span class="badge badge-primary badge-pill">437</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Contracts without document filed date:
                            <span class="badge badge-primary badge-pill">2071</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
