<!--Footer-->
<footer class="page-footer primary-color-dark navbar-dark teal accent-4 center-on-small-only">

  <!--Footer Links-->
  <div class="container">
      <div class="row">

        <div class="col-md-3">
            Copyright &copy; 2018 <a href="https://mdbootstrap.com"> Visionstream Pty Ltd </a>
            <!-- <a href="https://validator.w3.org/nu/?doc=http://mrmccormack.com/mdbootstrap-template-cdn.html" target="_blank"><small>• HTML valid • </small></a> -->
        </div>

        <div class="col-md-3">
          Version: 2.0
        </div>

        <div class="col-md-3">
          <ul>
            <li><a href="http://testing.visres.vpl.com.au/WebSitePrivacyPolicy.pdf" target="_blank">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="http://testing.visres.vpl.com.au/WebSiteTermsofUse.pdf" target="_blank">Terms of Use</a></li>
          </ul>
        </div>


      </div>
  </div>
  <!--/.Footer Links-->

</footer>
<!--/.Footer-->
